# Exclude file type


# exclude directories
CA4016/data/D1NAMO
# CA4016/data/processed_data/**/*_Summary.csv
CA4016/data/
CA4021/*
CA4015/*
CA4022/02Assignment/*
CA4022/01Assignment/ml-latest-small
CA4023/*.ipynb
**.ipynb_checkpoints/
CA4015/**/data/*
CA4022/02Assignment/*
CA4022/01Assignment/ml-latest-small
CA4025/reports
CA4024/tutorials/extra/*
**/.Rhistory

